html
  head
    title Abhi Dance Academy
    block scripts
    block style
  body
    nav#navbar
        div.logo-name DANCE CLUB
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Branches]
            li #[a(href="/") Curriculum]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright &copy; 2019 AbhiDanceAcademy.com | All Rights Reserved.