extends base.pug


block scripts
  script(src='/static/index.js')

block style 
     style
          include ../static/style.css

block content 
    //- nav#navbar
    //-     div.logo-name DANCE CLUB
    //-     ul
    //-         li #[a(href="/") Home]
    //-         li #[a(href="/") About]
    //-         li #[a(href="/") Branches]
    //-         li #[a(href="/") Curriculum]
    //-         li #[a(href="/") Contact Us]

    section#introSection 
        div Welcome to Abhi's Dance Club
        div.quote Eat Sleep Dance Repeat
    section#missionSection 
        h2 Our Mission
        div.box
            div.container
              h3 Dance You Love 
              div.img 
                 img(src="../static/sp-img1.png", alt="sponser-image")
                 p This is the best Dance Academy in the Universe.
            div.container
              h3 Dancing as You Like
              div.img 
                img(src="../static/sp-img2.png", alt="sponser-image")
                p This is the best Dance Academy in the Universe.
            div.container
             h3 Expert Observation
             div.img 
                img(src="../static/sp-img3.png", alt="sponser-image")
                p This is the best Dance Academy in the Universe.
    section#sponsorSection 
        h3 Our Sponsors   
        div.sponsors
            img(src="../static/dance.webp", alt="dance")
            img(src="../static/dance2.jpg", alt="dance")
            img(src="../static/justdance.webp", alt="dance")
            img(src="../static/salsadance.jpg", alt="dance")